@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@400;700&family=Roboto+Mono:ital,wght@1,200&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&family=Source+Code+Pro:wght@300&family=Ubuntu:wght@300&family=Varela+Round&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
  330deg,
  hsl(0, 100%, 50%) 0%,
  hsl(336deg 100% 47%) 12%,
  hsl(323deg 100% 43%) 25%,
  hsl(310deg 100% 39%) 39%,
  hsl(295deg 100% 38%) 54%,
  hsl(282deg 100% 42%) 69%,
  hsl(270deg 100% 46%) 85%,
  hsl(258deg 100% 50%) 100%
);
}

.form-box{
    background-color: white;
    width: 50%;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px 28px;
    margin-inline: 20px;
    
}

.form-box header h1{
    text-align: center;
    color: rgb(153, 0, 255);
}

.form-box form{
    margin-block: 30px;
}

input{
    width: 100%;
    padding: 17px 20px;
    margin: 12px 0;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(208, 207, 211);
    color: black;
    border: none;
    outline: none;
}

input[type="text"]{
    display: none;
}

a{
    text-decoration: none;
    font-size: 16px;
}

input[type="button"]{
    margin-block: 24px;
    background-color: rgb(153, 0, 255);
    color: white;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    transition: .4s;
}

input[type="button"]:hover{
    background-color: rgb(49, 0, 81);
    
}

.links{
    display: flex;
    justify-content: center ;
}

.links a img{
    max-height: 40px;
    margin-inline: 10px;
}

.signup{
    text-align: center;
    margin-block: 20px;
    font-size: 16px;
}

.signup a{
    font-size: 18px;
    font-weight: 600;
    color: rgb(153, 0, 255);
}

.signup a:hover{
    font-size: 20px;
    color: rgb(56, 8, 102);
    text-decoration: underline 2px;
    text-underline-offset: 5.5px;
}

@media screen and (max-width:700px) {
    .form-box{
        width: 100%;
    }
}