*{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    height: 600px;
    background-color: gray;
    padding-left: 250px;
    margin-top: 200px;
}

#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}

#weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }

#result{
    margin-top: 20px;
    margin-left: 70px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
    font-size: 20px;
}

button{
    font-size: 18px;
    padding: 1px 10px;
    margin-top:  23px;
    margin-left: 120px;
    border-radius: 3px;
    border: none;
    outline: none;
    text-decoration: none;
}

h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }