body{
    background-color: rgb(41, 40, 40);
    color: white;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

#clock{
    background-color: orange;
    font-size: 40px;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}