*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100;
}

nav{
    width: 100%;
    background-color: #212529;
    color: white;
    padding: 20px 50px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}

nav h2{
    font-size: 35px;
}

a{
    text-decoration: none;
    color: white;
}

.cart{
    background-color: white;
    color: #212529;
    font-size: 35px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.cart i{
    cursor: pointer;
}

.cart-amount{
    background-color: red;
    font-size: 22px;
    color: white;
    position: absolute;
    top: -15px;
    right: -10px;
    padding: 2px;
    border-radius: 3px;
}

.shop{
    display: grid;
    grid-template-columns: repeat(4, 230px);
    margin: 40px 60px;
    gap: 40px;
    justify-content: center;
}

.item{
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.item img{
    height: 180px;
    width: 230px;
    border-radius: 1px;
}

.details{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.price-quentity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    display: flex;
    gap: 8px;
    font-size: 18px;
}

.buttons i{
    cursor: pointer;
}

.bi-dash-lg{
    color: red;
}

.bi-plus-lg{
    color: green;
}


@media (max-width: 1000px){
    .shop{
        grid-template-columns: repeat(2, 230px);
    }
}

.text-center{
    text-align: center;
    margin: 20px;
}

.home-btn, .Checkout, .removeAll{
    margin: 15px;
    background-color: #212529;
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.Checkout{
    background-color: green;
}

.removeAll{
    background-color: red;
}


.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1,350px);
    justify-content: center;
    gap: 20px;
    
    
}

.cart-item{
    border: 2px solid #212529;
    border-radius: 5px;
    display: flex;
    height: 100px;
    
}

.title-price-x{
    width: 230px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.bi-x-lg{
    color: red;
    cursor: pointer;
    font-size: 20px;
}

.title-price{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 3px;
}

#label{
    font-size: 20px;
}

.cart-item-price{
    background-color: #212529;
    padding: 5px 8px;
    color: white;
    border-radius: 3px;
}

.new-btn, h3{
    margin-left: 10px;
    margin-bottom: 5px;
}





@media (max-width: 500px){
    .shop{
        grid-template-columns: repeat(1, 230px);
    }
}