*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'gilory';
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

#card{
    background-color: white;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

#card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#card h1{
    font-size: 30px;
    margin: 10px 0;
}

#card h3{
    font-size: 20px;
    color: rgb(78, 95, 186);
    margin: 20px;
}

#card button{
    background-color: cadetblue;
    color: white;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 50px;
    border: none;
    margin: 3px;
    cursor: pointer;
    border: none;
}

