*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 145);
}

.app{
    max-width: 600px;
    max-height: 600px;
    background-color: white;
    margin: 100px auto 0;
    padding: 30px;
    border-radius: 10px;
}

.app h1{
    font-weight: 600;
    color: #001e4d;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    font-size: 25px;
    text-transform: capitalize;
}

.quiz{
    padding-top: 20px;
}

.quiz h2{
    font-weight: 600;
    font-size: 20px;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #222;
    border-radius: 4px;
    margin: 12px 0;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: not-allowed ;
}



#btn-next{
    width: 100px;
    background: #001e4d;
    padding: 8px 4px;
    margin: 20px auto 0;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    border: none;
    display: none;
}

.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}