*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,106,121,1) 44%, rgba(0,212,255,1) 100%);;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div{
    max-width: 500px;
    height: auto;
    background-color: #8ECDDD;
    padding: 50px;
    font-size: 18px;
    box-shadow: 15px 23px 24px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
}

h1{
    padding-bottom: 10px;
    text-shadow: 1px 2px 1px white;
    text-transform: capitalize;
}


label{
    display: block;
    text-transform: capitalize;
    margin-top: 30px;
    padding: 5px;

}

input{
    width: 300px;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 18px;
}

button{
    margin-top: 30px;
    width: 90px;
    height: 30px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #008db8;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    box-shadow: 1px 1px 5px 1px #2d3436;
    margin-left: 30%;
    cursor: pointer;
}