*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: rgb(165, 225, 165);
    display: flex;
    align-items: center;
    justify-content: center;
}

#pannel{
    width: 70%;
    height: 65%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

#pannel-top{
    width: 100%;
    height: 100px;
    background-color: rgb(64, 106, 64);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    color: white;
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

h4{
    font-size: 25px;
}

.box{
    padding: 8px 15px;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

#pannel-bottom{
    width: 100%;
    height: calc(100% - 10px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}


.bubble{
    background-color: rgb(6, 97, 6);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 22px;
}

.bubble:hover{
    background-color: rgb(6, 161, 6);
    cursor: pointer;
}