@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&family=Roboto:ital,wght@0,300;1,100&family=Source+Code+Pro:wght@300&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

body{
    width: 100%;
    height: 100vh;
    background: rgb(236, 230, 218);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    width: 370px;
    height: 550px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.6);
    padding: 20px;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

.container form{
    width: 100%;
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.container form input{
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding: 6px 6px; 
}

.container form i{
    padding-left: 5px;
}

.product{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 10px;
}

.product-list{
    padding: 15px 0;
}

.product .p-details{
    padding-left: 15px;
}

.product img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
}

.product .p-details h2{
    font-size: 19px;
}

.product .p-details h3{
    font-size: 17px;
}