*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 70%;
    height: 500px;
    box-shadow: 0px 0px 3px grey;
    margin: auto;
    margin-top: 100px;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100%;
    transition: 1s;
    position: absolute;
}

.nav{
    text-align: center;
    margin-top: 20px;
}

.nav button{
    font-size: 25px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    background-color: rgb(196, 158, 231); 
    cursor: pointer;
}