@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@300;400;600;700&family=Roboto+Mono:ital,wght@1,200&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&family=Source+Code+Pro:wght@300&family=Ubuntu:wght@300&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@300;400;600;700&family=Roboto+Mono:ital,wght@1,200&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&family=Source+Code+Pro:wght@300&family=Ubuntu:wght@300&family=Varela+Round&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root{
    --primary-text-color: #183b56
    --secondary-text-color: #577592
    --accent-color: #2294ed
    --accent-color-dark: #1d69a3
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

p{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav{
    background-color: #212529;
    color: white;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    box-shadow: 0 0 4px #bbd02e;
    z-index: 99;
}

.main-nav{
    justify-content: space-between;
    padding: 10px 0;
}

.logo img{
    width: 70px;
}

.nav-links ul{
    gap: 25px;
    font-size: 20px;
    font-weight: 500;
    transform: translate(0.5s);
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.nav-links ul li:hover{
    font-size: 22px;
    color: rgb(104, 104, 191);
}

.nav-items.active{
    color: rgb(170, 90, 255)
}

.search-bar input{
    padding: 8px 5px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.search-bar button{
    padding: 6px 8px;
    border-radius: 5px;
    background-color: rgb(104, 52, 160);
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    
}

main{
    padding-block: 20px;
    margin-top: 80px;
}

.card-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card{
    width: 360px;
    min-height: 400px;
    box-shadow: 0px 0px 4px #c8a3df;
    cursor: pointer;
    overflow: hidden;
    background-color: #fff;
    border-radius: 4px;
}

.card:hover{
    box-shadow: 1px 1px 8px  #a67aac;
    background-color: rgb(223, 224, 230);
    transform: translateY(-2px);
}

.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content{
    padding: 10px;
}

.news-source{
    margin-block: 10px;
}


@media (max-width: 768px) {
    /* CSS for mobile devices */
  
    /* Make the input smaller */
    .news-input {
      width: 100%;
      margin-bottom: 10px;
    }
  
    /* Increase the font size of the navigation links */
    .nav-links ul li {
      font-size: 24px;
    }
  
    /* Increase the padding around the navigation links */
    .nav-links {
      padding: 10px;
    }
  
    /* Change the layout of the card container to stack the cards on top of each other */
    .card-container {
      flex-direction: column;
    }
  
    /* Decrease the width of the cards */
    .card {
      width: 100%;
    }
  
    /* Increase the padding around the card content */
    .card-content {
      padding: 20px;
    }
}







 

  
  