*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    background-color: white;
    width: 350px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#container i{
    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform ease 0.4s;
}